<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Ball</title>
  </head>
  <body>
    <h1>Edit Ball:</h1>
    <form action="/balls/<%=@ball.id%>/edit" method="POST">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <h3>Name: <input type="text" name="name" value="<%=@ball.name%>"></h3>
      <h3>Brand: <input type="text" name="brand" value="<%=@ball.brand%>"></h3>
      <h3>Color: <input type="text" name="color" value="<%=@ball.color%>"></h3>
      <h3>Weight: <input type="text" name="weight" value="<%=@ball.weight%>"></h3>
      <h3>Coverstock: <input type="text" name="coverstock" value="<%=@ball.coverstock%>"></h3>
      <h3>Release Date: <input type="date" name="release_date" value="<%=@ball.release_date%>"></h3>
      <input type="submit" value="edit">
    </form>
  </body>
</html>
