<% if flash.has?(:message) %>
<div style="border: 2px solid red;">
  <%= flash[:message] %>
</div>
<% end %>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Balls Main</title>
  </head>
  <body>
    <h1>Here are a list of all the balls that exist in players' arsenals:</h1>
    <br>
    <% @balls.each do |ball| %>
    <li><a href="/balls/<%=ball.id%>"><%=ball.brand%> <%=ball.name%></a></li><br>
    <% end %>

    <p><a href="/users/<%=@user.slug%>">Go to your bag</a></p>
    <p><a href="/logout">Log Out</a></p>
  </body>
</html>
